*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('../fonts/Inter-Medium.woff');
}

@font-face {
    font-family: 'Inter-Bold';
    /* font-style: normal; */
    /* font-weight: normal; */
    src: url('../fonts/Inter-Bold.woff');
}

@font-face {
    font-family: 'Inter-Light';
    src: url('../fonts/Inter-Light.woff');
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter-Regular.woff');
}

:root {
    --priColor: #006aff;
    --darkText: #031B4F;
    --xdarkText: #031B4E;
    --lightText: #5B6987;
    --xlightText: #031B4E99;
    --newWite: #f3f5f9;
}

a {
    text-decoration: none;
    transition: color .3s ease;
    color: var(--lightText);
}

a:hover {
    color: var(--priColor);
}

/* Navigation */
nav {
    position: sticky;
    top: 0;
    background: #fff;
    font-family: "Inter-Medium", "Helvetica", "san-serif";
    font-size: 12px;
}

nav > div {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

.upper-navbar {
    padding: .7rem 1.5rem;
    border-bottom: 1px solid #e5e8ed;
    color: var(--lightText);
}

.upper-navbar ul,
.lower-navbar div:last-of-type {
    margin-left: auto;
}

.upper-navbar button {
    margin-right: 12px;
}

.upper-navbar ul li {
    margin-left: 1.5rem;
}

.lower-navbar {
    font-size: 14px;
    font-weight: 500;
    padding: 1rem 1.5rem;
    box-shadow: 0px 2px 4px rgb(3, 27, 78, 0.1);
    color: var(--darkText);
}

.lower-navbar img {
    width: 172px;
    height: 28px;
    margin-left: 5px;
}

.lower-navbar ul {
    margin-left: 4rem;
}

.lower-navbar ul li {
    margin-right: 1.5rem;
}

.lower-navbar button {
    margin-left: 1rem;
}

/* Header */
header {
    background-color: rgb(0, 105, 255);
    background: url('../images/bg-home.svg') no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    height: 800px;
    max-width: 1170px;
    display: grid;
    grid-template-columns: 1fr 370px;
    align-items: center; /* positions children element in the center (horizontal & vertical) of the container */
    color: #fff;
    column-gap: 7rem;
    padding: 0 .5rem;
    /* padding: 0 2rem; for responsiveness */
}

header h1 {
    font-size: 58px;
    font-family: "Inter-Bold", "Helvetica", "san-serif";
}

.header-content p {
    font-size: 24px;
    font-family: "Inter-Light", "Helvetica", "san-serif";
    margin-top: 1.5rem;
    line-height: 1.5;
}

header form {
    border-radius: 5px;
    background: var(--newWite);
}

header form h4 {
    padding: 1.3rem 0;
    font-size: 18px;
    color: var(--xdarkText);
    font-family: "Inter-Bold", "Helvetica", "san-serif";
    text-align: center;
}

header form div {
    background: #fff;
    padding: 0 2rem;
    padding-top: .6rem;
}

header form div:first-of-type {
    padding-top: 2rem;
}

header form input {
    width: 100%;
    font-size: 16px;
    outline: none;
    padding: .8rem 1rem;
    border: 1px solid var(--newWite);
    border-radius: 3px;
}

header form input:placeholder {
    font-size: 16px;
}

header form input:focus {
    border: 1px solid var(--priColor);
}

.email-btn {
    display: flex;
    padding-bottom: 2rem;
}

.email-btn button {
    width: 100%;
    padding: 18px 0;
}

.sign-up-btns {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--newWite);
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    border-radius: 0 0 5px 5px;
}

.sign-up-btns button:nth-of-type(1) {
    width: 79%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.sign-up-btns button:nth-of-type(1) img {
    margin-right: 5px;
}

.sign-up-btns button:nth-of-type(2) {
    width: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.form-container p {
    text-align: center;
    font-family: "Inter-Regular", "Helvetica", "san-serif";
    margin-top: 1rem;
}

/* Client Sections */
.client-section {
    background-color: var(--newWite);
    padding: 4rem 0;
}

.client-section h5 {
    text-align: center;
    font-family: "Inter-Bold", "Helvetica", "san-serif";
    margin-bottom: 2rem;
    color: var(--lightText);
    letter-spacing: 1px;
}

.client-images {
    display: flex;
    justify-content: center;
}

.client-images img {
    margin: 0 1.8rem;
}

.client-section > div:last-of-type {
    text-align: center;
    margin-top: 2rem;
}

.client-section > div:last-of-type a {
    color: var(--priColor);
    font-family: "Inter-Medium", "Helvetica", "san-serif";
}

/* Static Section */
.static-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.static-sites {
    width: 75%;
    border: 1px solid var(--newWite);
    display: flex;
    align-items: center;
    padding: 2rem;
    border-radius: 7px;
    box-shadow:  0px 1px 1px rgba(1, 14, 40, 0.3);
}

.static-sites div:first-of-type {
    margin-right: 2rem;
}

.static-sites div:last-of-type {
    margin-left: auto;
}

.static-sites img {
    max-height: 80px;
}

.static-sites h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.static-sites button {
    padding: 1rem 4rem;
}

/* Deploy Section */
.deploy-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deploy-section div {
    max-width: 1170px;
    text-align: center;
}

.deploy-section p {
    max-width: 780px;
    margin-top: 1.3rem;
    line-height: 1.5;
}

/* Buttons */
button {
    background: inherit;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
}

.outline-btn {
    color: var(--priColor);
    border: 1px solid var(--priColor);
    font-weight: 700;
    font-family: "Inter-Bold", "Helvetica", "san-serif";
}

.solid-btn {
    color: #fff;
    background: var(--priColor);
    border: 1px solid var(--priColor);
    font-weight: 700;
    font-family: "Inter-Bold", "Helvetica", "san-serif";
}

/* Details Section */
.details-section {
    /* padding: 0 2rem; */
    display: flex;
    justify-content: center;
}

.details {
    display: grid;
    grid-template-columns: 300px 1fr;
    max-width: 1170px;
}

.details ul li {
    border-left: 2px solid #E5E8ED;
    padding: 15px 20px;
}

.details ul li:first-of-type {
    border-left: 2px solid var(--priColor);
}

.details-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/* Utilities */
.torquoise {
    background: #00D7D2;
    text-transform: uppercase;
    font-size: 9px;
    padding: 5px 7px;
}

.dark-text {
    color: var(--darkText);
}

.xdark-text {
    color: var(--xdarkText);
}

.light-text {
    color: var(--lightText);
}

.xlight-text {
    color: var(--xlightText);
}

.size-10 {
    font-size: 10px;
}

.size-12 {
    font-size: 12px;
}

.size-14 {
    font-size: 14px;
}

.size-16 {
    font-size: 16px;
}

.size-20 {
    font-size: 20px;
}

.size-36 {
    font-size: 36px;
}

.spacing {
    padding: .45rem .85rem .55rem .85rem;
}

.font-bold {
    font-family: "Inter-Bold", "Helvetica", "san-serif";
}

.font-regular {
    font-family: "Inter-Regular", "Helvetica", "san-serif";
}

.font-light {
    font-family: "Inter-Light", "Helvetica", "san-serif";
}

.font-medium {
    font-family: "Inter-Medium", "Helvetica", "san-serif";
}