*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('../fonts/Inter-Medium.woff');
}

@font-face {
    font-family: 'Inter-Bold';
    /* font-style: normal; */
    /* font-weight: normal; */
    src: url('../fonts/Inter-Bold.woff');
}

@font-face {
    font-family: 'Inter-Light';
    src: url('../fonts/Inter-Light.woff');
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter-Regular.woff');
}

:root {
    --priColor: #006aff;
    --darkText: #031B4F;
    --xdarkText: #031B4E;
    --lightText: #5B6987;
    --xlightText: #031B4E99;
    --newWite: #f3f5f9;
}

a {
    text-decoration: none;
    transition: color .3s ease;
    color: var(--lightText);
}

a:hover {
    color: var(--priColor);
}

/* Navigation */
nav {
    position: sticky;
    top: 0;
    background: #fff;
    font-family: "Inter-Medium", "Helvetica", "san-serif";
    font-size: 12px;
}

nav > div {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

.upper-navbar {
    padding: .7rem 1.5rem;
    border-bottom: 1px solid #e5e8ed;
    color: var(--lightText);
}

.upper-navbar ul,
.lower-navbar div:last-of-type {
    margin-left: auto;
}

.upper-navbar button {
    margin-right: 12px;
}

.upper-navbar ul li {
    margin-left: 1.5rem;
}

.lower-navbar {
    font-size: 14px;
    font-weight: 500;
    padding: 1rem 1.5rem;
    box-shadow: 0px 2px 4px rgb(3, 27, 78, 0.1);
    color: var(--darkText);
}

.lower-navbar img {
    width: 172px;
    height: 28px;
    margin-left: 5px;
}

.lower-navbar ul {
    margin-left: 4rem;
}

.lower-navbar ul li {
    margin-right: 1.5rem;
}

.lower-navbar button {
    margin-left: 1rem;
}

/* Header */
header {
    background-color: rgb(0, 105, 255);
    background: url('../images/bg-home.svg') no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    height: 800px;
    max-width: 1170px;
    outline: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 370px;
    align-items: center; /* positions children element in the center (horizontal & vertical) of the container */
    color: #fff;

}

header h1 {
    font-size: 58px;
    font-family: "Inter-Bold", "Helvetica", "san-serif";
}

.header-content p {
    font-size: 24px;
    font-family: "Inter-Light", "Helvetica", "san-serif";
}

header form {
    border-radius: 5px;
    background: var(--newWite);
}

header form h4 {
    padding: 1rem 0;
    font-size: 18px;
    color: var(--xdarkText);
    font-family: "Inter-Bold", "Helvetica", "san-serif";
    text-align: center;
}

header form div {
    background: #fff;
    padding: 0 1.5rem;
}

header form div {
    padding-top: .5rem;
}

header form div:first-of-type {
    padding-top: 2rem;
}

header form input {
    width: 100%;
    font-size: 16px;
    outline: none;
    padding: .8rem 1rem;
    border: 1px solid var(--newWite);
    border-radius: 3px;
}

header form input:placeholder {
    font-size: 16px;
    color: var(--darkText);
}

header form input:focus {
    border: 1px solid var(--priColor);
}

.email-btn {
    display: flex;
    padding-bottom: 2rem;
}

.email-btn button {
    width: 100%;
    padding: 18px 0;
}

.sign-up-btns {
    display: flex;
    border-top: 1px solid --newWite;
}

/* Buttons */
button {
    background: inherit;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
}

.outline-btn {
    color: var(--priColor);
    border: 1px solid var(--priColor);
    font-weight: 700;
    font-family: "Inter-Bold", "Helvetica", "san-serif";
}

.solid-btn {
    color: #fff;
    background: var(--priColor);
    border: 1px solid var(--priColor);
    font-weight: 700;
    font-family: "Inter-Bold", "Helvetica", "san-serif";
}

/* Utilities */
.torquoise {
    background: #00D7D2;
    text-transform: uppercase;
    font-size: 9px;
    padding: 5px 7px;
}

.dark-text {
    color: var(--darkText);
}

.xdark-text {
    color: var(--xdarkText);
}

.light-text {
    color: var(--lightText);
}

.xlight-text {
    color: var(--xlightText);
}

.size-10 {
    font-size: 10px;
}

.size-12 {
    font-size: 12px;
}

.size-14 {
    font-size: 14px;
}

.size-16 {
    font-size: 16px;
}

.spacing {
    padding: .45rem .85rem .55rem .85rem;
}