*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter-Medium';
    /* font-style: normal; */
    /* font-weight: normal; */
    src: url('../fonts/Inter-Medium.woff');
}

:root {
    --priColor: #006aff;
    --darkText: #031B4F;
    --xdarkText: #031B4E;
    --lightText: #5B6987;
    --xlightText: #031B4E99;
}

/* body {
    font-family: "Inter-Medium", "Helvetica", "san-serif";
} */

a {
    text-decoration: none;
    transition: color .3s ease;
    color: var(--lightText);
}

a:hover {
    color: var(--priColor);
}

nav {
    font-family: "Inter-Medium", "Helvetica", "san-serif";
    font-size: 12px;
}

nav > div {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

.upper-navbar {
    padding: .75rem 1.5rem;
    border-bottom: 1px solid #e5e8ed;
}

.upper-navbar ul,
.lower-navbar div:last-of-type {
    margin-left: auto;
}

.upper-navbar button {
    margin-right: 12px;
}

.upper-navbar ul li {
    margin-left: 1.5rem;
}

.lower-navbar {
    font-size: 14px;
    padding: 1rem 1.5rem;
    box-shadow: 0px 2px 4px rgb(3, 27, 78, 0.1);
}

.lower-navbar img {
    width: 180px;
}

.lower-navbar ul {
    margin-left: 4rem;
}

.lower-navbar ul li {
    margin-right: 1.5rem;
}
/* Utilities */
button {
    background: inherit;
    border: 0;
    outline: 0;
}

.torquoise {
    background: #00D7D2;
    text-transform: uppercase;
    font-size: 9px;
    padding: 5px 7px;
    border-radius: 5px;
}

